In [36]:
#Importing spqlite3

import sqlite3

In [37]:
# Creating a SQLite Database in python
conn = sqlite3.connect('orders.db')

In [38]:
# Creating a cursor object
cur = conn.cursor()

In [47]:
# Creating Tables in SQLite 

cur.execute("""CREATE TABLE IF NOT EXISTS users(
   userid INT PRIMARY KEY,
   fname TEXT,
   lname TEXT,
   gender TEXT);
""")
conn.commit()


cur.execute("""CREATE TABLE IF NOT EXISTS orders(
   orderid INT PRIMARY KEY,
   date TEXT,
   userid TEXT,
   total TEXT);
""")
conn.commit()

In [ ]:
#Adding Data with SQLite

cur.execute("""INSERT INTO users(userid, fname, lname, gender) 
   VALUES('00001', 'Nik', 'Piepenbreier', 'male');""")
conn.commit()

user = ('00002', 'Lois', 'Lane', 'Female')

#Replacing user data with question marks
cur.execute("""INSERT INTO users VALUES(?, ?, ?, ?);""", user)
conn.commit()

more_users = [('00003', 'Peter', 'Parker', 'Male'), ('00004', 'Bruce', 'Wayne', 'male')]

cur.executemany("INSERT INTO users VALUES(?, ?, ?, ?);", more_users)
conn.commit()

In [ ]:
#Using fetchone() in SQLite 

cur.execute("SELECT * FROM users;")
one_result = cur.fetchone()
print(one_result)

cur.execute("SELECT * FROM users;")
three_results = cur.fetchmany(3)
print(three_results)

In [ ]:
#Deleting Data

cur.execute("DELETE FROM users WHERE lname='Parker';")
conn.commit()

cur.execute("select * from users where lname='Parker'")
print(cur.fetchall())

cur.execute("""SELECT *, users.fname, users.lname FROM orders
    LEFT JOIN users ON users.userid=orders.userid;""")
print(cur.fetchall())